@keyframes openAnimate
{
    from {
        left:0%;
    }
    to {
        left:12%;
    }
}

@-moz-keyframes openAnimate /* Firefox */
{
    from {  left:0%; }
    to {  left:12%;  }
}

@-webkit-keyframes openAnimate /* Safari 和 Chrome */
{
    from {  left:0%; }
    to {  left:12%;  }
}

@-o-keyframes openAnimate /* Opera */
{
    from {  left:0%; }
    to {  left:12%;  }
}

/*---------关闭按钮动画----------*/
@keyframes closeAnimate
{
    from {  left:12%; }
    to {  left:0%;  }
}

@-moz-keyframes closeAnimate /* Firefox */
{
    from {  left:12%; }
    to {  left:0%;  }
}

@-webkit-keyframes closeAnimate /* Safari 和 Chrome */
{
    from {  left:12%; }
    to {  left:0%;  }
}

@-o-keyframes closeAnimate /* Opera */
{
    from {  left:12%; }
    to {  left:0%;  }
}

/*展开抽屉式导航栏动画*/
@keyframes openNav
{
    from {  left:-12%; opacity:0.0;}
    to {  left:0%;  opacity:0.8;}
}

@-moz-keyframes openNav /* Firefox */
{
    from {  left:-12%; opacity:0.0;}
    to {  left:0%;  opacity:0.8;}
}

@-webkit-keyframes openNav /* Safari 和 Chrome */
{
    from {  left:-12%; opacity:0.0;}
    to {  left:0%;  opacity:0.8;}
}

@-o-keyframes openNav /* Opera */
{
    from {  left:-12%; opacity:0.0;}
    to {  left:0%;  opacity:0.8;}
}

/*关闭抽屉式导航栏动画*/
@keyframes closeNav
{
    from {  left:0%; opacity: 0.8 }
    to {  left:-12%;  opacity: 0 }
}

@-moz-keyframes closeNav /* Firefox */
{
    from {  left:0%; opacity: 0.8 }
    to {  left:-12%;  opacity: 0 }
}

@-webkit-keyframes closeNav /* Safari 和 Chrome */
{
    from {  left:0%; opacity: 0.8 }
    to {  left:-12%;  opacity: 0 }
}

@-o-keyframes closeNav /* Opera */
{
    from {  left:0%; opacity: 0.8 }
    to {  left:-12%;  opacity: 0 }
}

/*按钮图片旋转90度*/
@keyframes imgOpen {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes imgClose {
    from {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    to {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}