h2 {
    text-align:center;
    margin: 0 auto;
}

.nav_row {
    margin-top: 5%;
    width:100%;
    height:auto;
}

#title {
    margin-top: 6%;
}

::-webkit-scrollbar{
    width: 0px;
}

.nav_show {
    position: fixed;
    top:0px;
    left:0px;
    width: 12%;
    height:100%;
    background: #2aabd2;
    opacity: 0.8;
}
.nav_hide {
    position: fixed;
    top:0px;
    left:-12%;
    width: 12%;
    height:100%;
    background: #2aabd2;
    opacity:0.0;
}

.openNav {
    position: fixed;
    top:0px;
    left: 0%;

}

.openNavAnimate {
    animation: openAnimate 1s;
    -moz-animation: openAnimate 1s;	/* Firefox */
    -webkit-animation: openAnimate 1s;	/* Safari 和 Chrome */
    -o-animation: openAnimate 1s;	/* Opera */
}

.closeNav{
    position: fixed;
    top:0px;
    left: 12%;
}

.openImg {
    width: 20px; height: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    
}

.openImgAnim {
    -webkit-transition: imgOpen 1s;
    -moz-transition: imgOpen 1s;
    -ms-transition: imgOpen 1s;
    -o-transition: imgOpen 1s;
    transition: imgOpen 1s;
}

.closeImg {
    width: 20px; height: 20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.closeImgAnim {
    -webkit-transition: imgClose 1s;
    -moz-transition: imgClose 1s;
    -ms-transition: imgClose 1s;
    -o-transition: imgClose 1s;
    transition: imgClose 1s;
}

.closeNavAnimate {
    animation: closeAnimate 1s;
    -moz-animation: closeAnimate 1s;	/* Firefox */
    -webkit-animation: closeAnimate 1s;	/* Safari 和 Chrome */
    -o-animation: closeAnimate 1s;	/* Opera */
}
.fadeInNav{
    animation: openNav 1s;
    -moz-animation: openNav 1s;	/* Firefox */
    -webkit-animation: openNav 1s;	/* Safari 和 Chrome */
    -o-animation: openNav 1s;	/* Opera */
}

.fadeOutNav {
    animation: closeNav 1s;
    -moz-animation: closeNav 1s;	/* Firefox */
    -webkit-animation: closeNav 1s;	/* Safari 和 Chrome */
    -o-animation: closeNav 1s;	/* Opera */
}

.showContent {
    animation: showContent 1s;
    -moz-animation: showContent 1s;	/* Firefox */
    -webkit-animation: showContent 1s;	/* Safari 和 Chrome */
    -o-animation: showContent 1s;	/* Opera */
}

.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

body{
    margin:40px;

    /*font-family:Tahoma,Helvetica,Arial,'宋体',sans-serif;*/
}

p {
    font-size: 30px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.btn-circle:hover {
    background: #333;
    color:#e75616;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

